* {
    font-family: "Lato";
}

h2 {
    margin: 4rem 0 0 0;
}

div#xnch-container li:nth-child(2) {
    color: red;
}

div#xnlch-container li:nth-last-child(2) {
    color: red;
}

div#xntp-container ul:nth-of-type(3) {
    border: 1px solid black;
}

div#xnltp-container ul:nth-last-of-type(3) {
    border: 1px solid black;
} 

div#xflch-container ul {
    background: #292929;
    /* background: green; */
    color: white;
    list-style: none;
    padding-left: 0;
}

div#xflch-container li {
    padding: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid #3c3c3c;
}

div#xflch-container li:first-child {
    border-top: none;
}

div#xflch-container li:last-child {
    border-bottom: none;
}

div#xoch-container div p:only-child {
    color: red;
}

div#xot-container div p:only-of-type {
    color: red;
}

div#xot-container li:only-of-type {
    font-weight: bold;
}

div#xfot-container ul:first-of-type > li:nth-child(2) {
    font-weight: bold;
}